extends layout

block content
  h1= title
  p Welcome to #[em SAC Registration System] very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content

  p The library has the following record counts:

